@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts Archia */
@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/Archia-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('~/assets/fonts/Archia-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Reset & base */
body {
  font-family: 'Archia', sans-serif;
  color: #1e1e2f;
  background: linear-gradient(to bottom, #ffffff, #f5f0eb);
}
